<h1>race</h1>
<script type="text/ng-template" id="raceFailure">
    <div>
    <h2>race failure</h2>
    {{ngDialogData.message}}
    </div>
</script>
<script type="text/ng-template" id="dataFailure">
    <div>
    <h2>data failure</h2>
    {{ngDialogData.message}}
    </div>
</script>

<div>
    <div>
        <div>
            type: {{raceData.raceTypeText}}
            <input type="button" class="btn btn-default" ng-disabled="!authenticated || checkRunning()" ng-hide="raceData.raceType === 'FIXED_TIME'" value="switch to fixed time" ng-click="updateRaceType('FIXED_TIME');" />
            <input type="button" class="btn btn-default" ng-disabled="!authenticated || checkRunning()" ng-hide="raceData.raceType === 'ROUND_BASED'" value="switch to round based" ng-click="updateRaceType('ROUND_BASED');" />
        </div>

        <div class="floatDivLeft raceStateTopLine" style="width: 120px;">
            <button class="btn btn-default" ng-disabled="!authenticated || raceData.toplist.length === 0 || checkRunning()" ng-click="startRace();">start</button> 
            <button class="btn btn-default" ng-disabled="!authenticated || !checkRunning()" ng-click="stopRace();">stop</button>
        </div>

        <div class="floatDivLeft raceStateTopLine" style="width: 100px;">
            state: {{raceData.stateText}}
        </div>
        <div class="floatDivLeft raceStateTopLine" style="width: 5px;">
            |
        </div>
        <div class="floatDivLeft raceStateTopLine" style="width: 200px;">
            starting time: {{raceData.startTime == null ? '-' : convertTime(raceData.startTime)}}
        </div>
        <div ng-show="isMobile" class="floatDivLeft raceStateTopLine" style="width: 200px;">
            <button class="btn btn-default" ng-hide="sleepDisabled" ng-click="sleepDisable()">disable sleepmode</button>
            <button class="btn btn-default" ng-show="sleepDisabled" ng-click="sleepEnable()">enable sleepmode</button>
        </div>
    </div>
    <div style="clear: both;"></div>

    <br />
    <div ng-hide="raceData.raceType !== 'ROUND_BASED'">
        <div>lap limit: {{raceData.typeSpecific.maxLaps}} | 
        preparation time: {{convertDuration(raceData.typeSpecific.preparationTime * 1000)}}</div>
    </div>
    <div ng-hide="raceData.raceType !== 'FIXED_TIME'">
        <div>race duration: {{convertDuration(raceData.typeSpecific.raceDuration * 1000)}} | 
        overtime duration: {{convertDuration(raceData.typeSpecific.overtimeDuration * 1000)}} | 
        preparation time: {{convertDuration(raceData.typeSpecific.preparationTime * 1000)}} | 
        start interval: {{convertDuration(raceData.typeSpecific.startInterval * 1000)}}</div>
    </div>
    <br />

    <div style="clear: both;"></div>
    <div>
        <div class="floatDivLeft" style="width: 200px;">
            <h3>toplist</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="padding-right: 10px;">name</th>
                        <th>total duration</th>
                    </tr>
                </thead>
                <tr ng-hide="nonEmptyToplist()"><td colspan="2">no pilot completed a lap yet</td></tr>
                <tr ng-repeat="(key, value) in raceData.toplist">
                    <td style="padding-right: 10px;">{{key}}</td>
                    <td>{{convertDuration(value)}}</td>
                </tr>
            </table>
        </div>
        <div class="floatDivLeft" style="width: 200px;" ng-repeat="x in raceData.lapData">
            <h3>{{x.participant.name}}</h3>
            <span ng-hide="getPilotState(raceData, x.participant.chipId) === ''">state: {{getPilotState(raceData, x.participant.chipId)}}<br /></span>
            <span ng-hide="getPilotDuration(raceData, x.participant.chipId) === 0">duration: {{convertDuration(getPilotDuration(raceData, x.participant.chipId))}}<br /></span>
            current lap: {{x.lapTimeList.currentLap}}<br />
            fastest lap: {{convertDuration(x.lapTimeList.fastestLapDuration)}} in lap {{x.lapTimeList.fastestLap}}<br />
            average lap: {{convertDuration(x.lapTimeList.averageLapDuration)}}<br />
            total duration: {{convertDuration(x.lapTimeList.totalDuration)}}<br />
            last rssi: {{x.lapTimeList.lastRssi}}<br />
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="padding-right: 10px;">lap</th>
                        <th>duration</th>
                        <th></th>
                    </tr>
                </thead>
                <tr ng-hide="x.lapTimeList.currentLap > 1"><td colspan="3">not finished a lap yet</td></tr>
                <tr ng-repeat="(lap, duration) in x.lapTimeList.laps">
                    <td style="padding-right: 10px;">{{lap}}</td>
                    <td data-ng-class="isInvalidLap(x.lapValidity, lap) && 'strikethrough' || 'null'"> {{convertDuration(duration)}}</td>
                    <td>
                        <input ng-hide="isInvalidLap(x.lapValidity, lap)" type="button" value="&otimes;" ng-click="invalidateLap(x.participant.chipId, lap);" class="btn btn-sm" />
                        <input ng-hide="!isInvalidLap(x.lapValidity, lap)" type="button" value="&oplus;" ng-click="invalidateLap(x.participant.chipId, lap);" class="btn btn-sm" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div style="clear: both;"></div>

    <div style="height: 400px; width: 100%;">
        <am-chart id="raceChart" options="amChartOptions"></am-chart>
    </div>
</div>
