<h1>login</h1>
<div>
    <label for="name">name</label><br />
    enter your user name.
    <div class="input-group col-lg-4">
        <input type="text" name="name" id="name" class="form-control" ng-keyup="$event.keyCode == 13 && login()" ng-required ng-model="username" required autofocus />
    </div>
    <br />
    <label for="password">password</label><br />
    enter your password.
    <div class="input-group col-lg-4">
        <input type="password" name="password" class="form-control" ng-keyup="$event.keyCode == 13 && login()" ng-required ng-model="password" required/>
    </div>
    <br />
    <button class="btn btn-primary" ng-click="login();">login</button>
</div>