<h1>setup</h1>
<script type="text/ng-template" id="dataFailure">
    <div>
    <h2>data failure</h2>
    {{ngDialogData.message}}
    </div>
</script>
<script type="text/ng-template" id="failedSave">
    <div>
    <h2>failed</h2>
    value cannot be saved
    </div>
</script>
<script type="text/ng-template" id="reboot">
    <div>
    <h2>rebooting</h2>
    device is rebooting, please wait 30 seconds
    </div>
</script>
<script type="text/ng-template" id="rssiMeasureResult">
    <div>
    <h2>rssi channel overview</h2>
    <table>
    <thead>
    <tr>
    <th style="padding-right: 10px;">frequency</th>
    <th>signal strength</th>
    <th></th>
    </tr>
    </thead>
    <tr ng-repeat="x in ngDialogData.response.channels">
    <td style="padding-right: 10px;">{{x.band}}</td>
    <td>{{x.rssi}}</td>
    <td><span style="color: red;" ng-show="x.freq == ngDialogData.response.maxFreq && x.rssi == ngDialogData.response.maxRssi">maximum</span></td>
    </tr>
    </table>

    </div>
</script>

<div>
    <button class="btn btn-info" ng-disabled="promise !== null || loadingDeviceData === true" ng-click="loadDeviceData();">reload device data</button>
    <br /><br />
    unique chip id: {{chipid}}<br />
    ip address: {{deviceData.ipAddress}}<br />
    version: {{deviceData.version}}<br />
    state: {{deviceData.state}}<br />
    voltage: {{deviceData.voltage | number : 2}} V (cells: {{(deviceData.voltage / cells) | number : 2}} V)<br />
    uptime: {{deviceData.uptime}} seconds<br />
    looptime: {{deviceData.loopTime}} µs<br />
    <br />
    <input type="button" value="skip calibration" ng-click="skipCalibration();" ng-hide="deviceData.state !== 'Calibration'" class="btn btn-primary btn-sm" />
    <br />
    <br />
    <label for="name">name</label><br />
    set a descriptive name for a participants chip.
    <div class="input-group col-lg-4">
        <input type="text" name="name" class="form-control"  ng-model="deviceData.participantName" required/>
    </div>
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">received signal strength indication (rssi)</h3>
        </div>
        <div class="panel-body">
            current rssi: <b>{{deviceData.rssi}}</b><br />
            <br />
            with the current settings the <b>lap detection is started</b> as soon as the <b>rssi is equal or above {{upperRssi}}</b>. lap detection is <b>ended</b> when the rssi is <b>below {{lowerRssi}}</b>.<br />
            <br />
            <label for="triggerValue">trigger value</label><br />
            the rssi value that triggers a new lap detection.
            <div class="input-group col-lg-2">
                <input type="number" min="1" max="1024" step="1" name="triggerValue" class="form-control" ng-model="deviceData.triggerValue" required/>
            </div>
            <br />
            <label for="triggerThreshold:">rssi trigger threshold</label><br />
            the trigger threshold defines the rssi window in which the lap detection is active. the lap detection ends if rssi is below trigger value minus trigger threshold.
            <div class="input-group col-lg-2">
                <input type="number" min="1" max="1024" step="1" name="triggerThreshold" class="form-control" ng-model="deviceData.triggerThreshold" required/>
            </div>
            <br />
            <label for="triggerThresholdCalibration">rssi trigger threshold <u>calibration</u></label><br />
            the rssi trigger threshold during calibration state. the calibration ends if rssi is below trigger value (see below) minus calibration trigger threshold.
            <div class="input-group col-lg-2">
                <input type="number" min="1" max="1024" step="1" name="triggerThresholdCalibration" class="form-control" ng-model="deviceData.triggerThresholdCalibration" required/>
            </div>
            <br />
            <label for="calibrationOffset">rssi calibration offset</label><br />
            the rssi offset that is substracted from found peek during calibration. improves lap detection but can add jitter to lap times.
            <div class="input-group col-lg-2">
                <input type="number" min="1" max="1024" step="1" name="calibrationOffset" class="form-control" ng-model="deviceData.calibrationOffset" required/>
            </div>
        </div>
    </div>
    <br />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="saveDeviceData();">save device settings</button>
    </span>
    <br /><br /><br />
    <div class="panel-heading">
        <h3 class="panel-title">frequency</h3>
    </div>
    <label for="freqSel">frequency</label><br />
    the fpv frequency the participants tracker is listening to.
    <div class="input-group col-lg-4">
        <select name="freqSel" ng-model="deviceData.frequency" class="form-control" ng-change="updateFrequency();" ng-options="key as key.name for key in frequencyTable"></select>
    </div>
    <br />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="saveDeviceData();">save device settings</button>
    </span>
    <br /><br /><br />
    <div class="panel-heading">
        <h3 class="panel-title">misc</h3>
    </div>
    <label for="minimumLapTime">minimum lap time</label><br />
    the minimum lap time of the participants tracker is used to prevent double lap detections.
    <div class="input-group col-lg-2">
        <input type="number" min="1" max="600" step="1" class="form-control" placeholder="-" aria-describedby="basic-addon2" name="minimumLapTime" ng-model="deviceData.minimumLapTime" required/>
        <div class="input-group-append">
            <span class="input-group-text">s</span>
        </div>
    </div>

    <br />
    <label for="filterRatio">filter ratio</label><br />
    the filter ratio for smoothing the rssi signal. 0 = only old values, 1 = only new values.
    <div class="input-group col-lg-2">
        <input type="number" min="0" max="1" step="0.001" class="form-control" placeholder="-" name="filterRatio" ng-model="deviceData.filterRatio" required/>
    </div>

    <br />
    <label for="filterRatioCalibration">filter ratio <u>calibration</u></label><br />
    the filter ratio for smoothing the rssi signal during calibration. 0 = only old values, 1 = only new values.
    <div class="input-group col-lg-2">
        <input type="number" min="0" max="1" step="0.001" class="form-control" placeholder="-" name="filterRatioCalibration" ng-model="deviceData.filterRatioCalibration" required/>
    </div>

    <br />
    <label for="defaultVref">voltage calibration</label><br />
    calibration value for the default reference voltage in mV
    <div class="input-group col-lg-2">
        <input type="number" min="1000" max="1200" step="1" class="form-control" placeholder="-" aria-describedby="basic-addon2" name="defaultVref" ng-model="deviceData.defaultVref" required/>
        <div class="input-group-append">
            <span class="input-group-text">mv</span>
        </div>
    </div>

    <br />
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="saveDeviceData();">save device settings</button>
    </span>

    <br /><br /><br />
    <label for="reboot">reboot</label><br />
    reboot the tracker unit<br />
    <button name="reboot" class="btn btn-danger" ng-click="rebootDevice();">reboot</button>
</div>