<h1>stored races</h1>
<script type="text/ng-template" id="dataFailure">
    <div>
    <h2>data failure</h2>
    {{ngDialogData.message}}
    </div>
</script>

<div>
    <label for="raceSel">race</label><br />
    select race to show.
    <div class="input-group col-lg-4">
        <select name="raceSel" ng-model="selectedRace" class="form-control" ng-change="updateRace();" ng-options="obj.starttime for obj in racesData"></select>
        <span class="input-group-btn">
            <button class="btn btn-default" ng-click="loadRace();">load</button><br />
        </span>
    </div>

    <div ng-hide="loaded === false">
        <div class="floatDivLeft raceStateTopLine" style="width: 80px;">
            lap limit: {{state.maxLaps}}
        </div>
        <div class="floatDivLeft raceStateTopLine" style="width: 5px;">
            |
        </div>
        <div class="floatDivLeft raceStateTopLine" style="width: 200px;">
            starting time: {{state.startTime}}
        </div>
    </div>
    <div style="clear: both;"></div>

    <div ng-hide="loaded === false">
        <div class="floatDivLeft" style="width: 200px;">
            <h3>toplist</h3>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="padding-right: 10px;">name</th>
                        <th>total duration</th>
                    </tr>
                </thead>
                <tr ng-repeat="x in toplist">
                    <td style="padding-right: 10px;">{{x.name}}</td>
                    <td>{{x.duration}}</td>
                </tr>
            </table>
        </div>
        <div class="floatDivLeft" style="width: 200px;" ng-repeat="(name, x) in state.raceData">
            <h3>{{name}}</h3>
            fastest lap: {{x.fastestLapDuration}} in lap {{x.fastestLap}}<br />
            average lap: {{x.averageLapDuration}}<br />
            total duration: {{x.totalDuration}}<br />
            <br />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="padding-right: 10px;">lap</th>
                        <th>duration</th>
                    </tr>
                </thead>
                <tr ng-repeat="(lap, duration) in x.laps">
                    <td style="padding-right: 10px;">{{lap}}</td>
                    <td>{{duration}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div style="clear: both;"></div>

</div>