<ion-header>
    <ion-navbar color="red">
        <ion-title>
            {{deviceName}}
        </ion-title>
        <ion-buttons end>
            <button ion-button icon-start (click)="requestData()">
                    <ion-icon name="refresh"></ion-icon> 
                Reload
            </button>
            <button ion-button icon-start (click)="saveData()">
                    <ion-icon name="checkmark"></ion-icon> 
                Save
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>Profiles</h2>
    <ion-list>
        <ion-item>
            <ion-label stacked>Set profile</ion-label>
            <ion-select [(ngModel)]="profile" interface="popover">
                <ion-option *ngFor="let i of profiles" (ionSelect)="changeProfile($event, i)">{{i == null ? "---" : i.name}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item text-wrap>
            <button ion-button icon-start (click)="newProfile()">
                <ion-icon name="add"></ion-icon> 
                New
            </button>
            <button *ngIf="profile != ''" ion-button icon-start (click)="updateProfile()">
                <ion-icon name="arrow-up"></ion-icon> 
                Update
            </button>
            <button *ngIf="profile != ''" ion-button icon-start (click)="removeProfile()">
                <ion-icon name="trash"></ion-icon> 
                Remove
            </button>
        </ion-item>
    </ion-list>

    <h2>Receiver</h2>
    <p>The frequency this tracker unit is listening on.</p>
    <ion-list>
        <ion-item>
            <ion-label stacked>Frequency</ion-label>
            <ion-select [(ngModel)]="deviceData.frequency" interface="popover">
              <ion-option value="5865">Band A 1</ion-option>
              <ion-option value="5845">Band A 2</ion-option>
              <ion-option value="5825">Band A 3</ion-option>
              <ion-option value="5805">Band A 4</ion-option>
              <ion-option value="5785">Band A 5</ion-option>
              <ion-option value="5765">Band A 6</ion-option>
              <ion-option value="5745">Band A 7</ion-option>
              <ion-option value="5725">Band A 8</ion-option>

              <ion-option value="5733">Band B 1</ion-option>
              <ion-option value="5752">Band B 2</ion-option>
              <ion-option value="5771">Band B 3</ion-option>
              <ion-option value="5790">Band B 4</ion-option>
              <ion-option value="5809">Band B 5</ion-option>
              <ion-option value="5828">Band B 6</ion-option>
              <ion-option value="5847">Band B 7</ion-option>
              <ion-option value="5866">Band B 8</ion-option>

              <ion-option value="5705">Band E 1</ion-option>
              <ion-option value="5685">Band E 2</ion-option>
              <ion-option value="5665">Band E 3</ion-option>
              <ion-option value="5645">Band E 4</ion-option>
              <ion-option value="5885">Band E 5</ion-option>
              <ion-option value="5905">Band E 6</ion-option>
              <ion-option value="5925">Band E 7</ion-option>
              <ion-option value="5945">Band E 8</ion-option>

              <ion-option value="5740">Band F 1</ion-option>
              <ion-option value="5760">Band F 2</ion-option>
              <ion-option value="5780">Band F 3</ion-option>
              <ion-option value="5800">Band F 4</ion-option>
              <ion-option value="5820">Band F 5</ion-option>
              <ion-option value="5840">Band F 6</ion-option>
              <ion-option value="5860">Band F 7</ion-option>
              <ion-option value="5880">Band F 8</ion-option>

              <ion-option value="5658">Band R 1</ion-option>
              <ion-option value="5695">Band R 2</ion-option>
              <ion-option value="5732">Band R 3</ion-option>
              <ion-option value="5769">Band R 4</ion-option>
              <ion-option value="5806">Band R 5</ion-option>
              <ion-option value="5843">Band R 6</ion-option>
              <ion-option value="5880">Band R 7</ion-option>
              <ion-option value="5917">Band R 8</ion-option>

              <ion-option value="5362">Band D 1</ion-option>
              <ion-option value="5399">Band D 2</ion-option>
              <ion-option value="5436">Band D 3</ion-option>
              <ion-option value="5473">Band D 4</ion-option>
              <ion-option value="5510">Band D 5</ion-option>
              <ion-option value="5547">Band D 6</ion-option>
              <ion-option value="5584">Band D 7</ion-option>
              <ion-option value="5621">Band D 8</ion-option>
            </ion-select>
        </ion-item>
        <ion-item text-wrap>
            <h3 style="padding-top: 5px;">RSSI scanner</h3>
            <div>Scan all available channels for their signal strength.</div>
            <button ion-button icon-start (click)="gotoScanner()">
                <ion-icon name="stats"></ion-icon> 
                Scan all channels
            </button>
        </ion-item>
        <ion-item>
            <ion-label stacked>RSSI</ion-label>
            <ion-input type="number" disabled value="" [(ngModel)]="deviceData.rssi"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked>State</ion-label>
            <ion-input type="text" disabled value="" [(ngModel)]="deviceData.state"></ion-input>
        </ion-item>
    </ion-list>

    <h2>Lap detection</h2>
    <ion-list>
        <ion-item text-wrap>
            <button ion-button icon-start (click)="gotoHelp()">Open the help</button>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">Minimum lap time</h3>
                <div>The duration of the lap detection lock in seconds.</div>
            </ion-label>
            <ion-input type="number" min="1" max="300" step="1" value="" [(ngModel)]="deviceData.minimumLapTime"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">Current trigger value</h3>
                <div>The RSSI value that triggers a new lap detection.</div>
            </ion-label>
            <ion-input type="text" value="" [(ngModel)]="deviceData.triggerValue"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">RSSI trigger threshold</h3>
                <div>The trigger threshold defines the RSSI window in which the lap detection is active. The lap detection ends if RSSI is below trigger value minus trigger threshold.</div>
            </ion-label>
            <ion-input type="number" min="0" max="4096" step="1" value="" [(ngModel)]="deviceData.triggerThreshold"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">RSSI trigger <b>calibration</b> threshold</h3>
                <div>The RSSI trigger threshold during calibration state. The calibration ends if RSSI is below trigger value (see below) minus calibration trigger threshold.</div>
            </ion-label>
            <ion-input type="number" min="0" max="4096" step="1" value="" [(ngModel)]="deviceData.triggerThresholdCalibration"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">RSSI calibration offset</h3>
                <div>The RSSI offset that is substracted from found peek during calibration. Improves lap detection but can add jitter to lap times.</div>
            </ion-label>
            <ion-input type="number" min="0" max="4096" step="1" value="" [(ngModel)]="deviceData.calibrationOffset"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">Filter ratio</h3>
                <div>The filter ratio for smoothing the RSSI signal. 0 = only old values, 1 = only new values.</div>
            </ion-label>
            <ion-input type="number" min="0.01" max="0.99" step="0.01" value="" [(ngModel)]="deviceData.filterRatio"></ion-input>
        </ion-item>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">Filter ratio <b>calibration</b></h3>
                <div>The filter ratio for smoothing the RSSI signal during calibration. 0 = only old values, 1 = only new values.</div>
            </ion-label>
            <ion-input type="number" min="0.001" max="0.99" step="0.001" value="" [(ngModel)]="deviceData.filterRatioCalibration"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list>
        <h2>Fast RSSI monitor</h2>
        <ion-item>
            <p>Open the RSSI monitor to display live RSSI values.</p>
            <button ion-button icon-start (click)="gotoFastRssi()">
                    <ion-icon name="stats"></ion-icon> 
                Fast RSSI monitor
            </button>
        </ion-item>
    </ion-list>

    <h2>WiFi</h2>
    <p><b>Only non standalone mode!</b><br />Credentials for the WiFi network this tracker unit is connecting to.</p>
    <ion-list>
        <ion-item>
            <ion-label stacked>SSID</ion-label>
            <ion-input type="text" value="" [(ngModel)]="deviceData.ssid"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label stacked>Password</ion-label>
            <ion-input type="password" [(ngModel)]="deviceData.password"></ion-input>
        </ion-item>

    </ion-list>

    <ion-list>
        <h2>Misc</h2>
        <ion-item>
            <p>Reboot the tracker unit.</p>
            <button ion-button icon-start (click)="reboot()">
                <ion-icon name="build"></ion-icon> 
                Reboot unit
            </button>
        </ion-item>
    </ion-list>
    <ion-list>
        <div>Tracker battery voltage: {{deviceData.voltage | number:'2.1-1'}} Volt (Cells: {{deviceData.voltage / cells | number:'1.1-1'}} Volt)</div>
        <div>Uptime: {{deviceData.uptime}} seconds</div>
        <div>Looptime: {{deviceData.loopTime}} µs</div>

        <ion-item text-wrap>
            <ion-label stacked>
                <h3 style="padding-top: 5px;">Voltage calibration</h3>
                <div>Calibration value for the default reference voltage in mV</div>
            </ion-label>
            <ion-input type="number" min="1000" max="1200" step="1" value="" [(ngModel)]="deviceData.defaultVref"></ion-input>
        </ion-item>
    </ion-list>

</ion-content>
