<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml" />
    <property name="FILE_LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${PID:- } [%t] --- %-40.40logger{39} : %msg%n%ex{full}" />
    
    <appender name="dmFileAppender" class="ch.qos.logback.core.FileAppender">
        <Append>false</Append>
        <File>fpvlaptracker.log</File>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ISO8601} %-5p [%t] %c: %msg%n%ex{full}</pattern>
        </encoder>
    </appender>

    <logger name="de.warhog.fpvlaptracker" level="DEBUG" />
    <logger name="org.springframework" level="WARN" />

    <root level="WARN">
        <appender-ref ref="dmFileAppender" />
    </root>
</configuration>