<div [hidden]="nodes.length != 0">
    no nodes registered yet.
</div>
<div *ngFor="let node of nodes; let i = index">
    <div class="card">
        <div class="card-header">
            <b>node chipid: {{node.chipId}}</b>
        </div>
        <div class="card-body">
            <table class="table table-borderless">
                <tbody>
                    <tr>
                        <td><span class="bold">frequency:</span></td>
                        <td>{{node.frequency | frequency}}</td>
                        <td><span class="bold">state:</span></td>
                        <td>{{node.state}}</td>
                    </tr>
                    <tr>
                        <td><span class="bold">ip:</span></td>
                        <td>{{node.inetAddress}}</td>
                        <td><span class="bold">version:</span></td>
                        <td>{{node.version}}</td>
                    </tr>

                </tbody>
            </table>
            <button [disabled]="!authenticated" (click)="nodeSetup(node.chipId)" class="btn btn-primary">node setup</button>
        </div>
    </div>
    <br />
</div>
