<div class="card">
    <div class="card-header">
        <b>pilot: {{pilot.name}}</b>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="pilotName">pilots name</label>
                <input type="text" name="pilotName" class="form-control col-lg-2" [(ngModel)]="pilot.name" required aria-describedby="pilotNameHelp" />
                <small id="pilotNameHelp" class="form-text text-muted">the name of the pilot.</small>
            </div>

            <div class="form-group">
                <label for="nodeSelection">frequency</label>
                <select aria-describedby="nodeSelectionHelp" name="nodeSelection" [(ngModel)]="pilot.chipId"
                    class="form-control col-lg-5">
                    <option value='0'>-</option>
                    <option [ngValue]="node.chipId" *ngFor="let node of availableNodes">
                        {{node.chipId}} - {{node.frequencyObj.name}} (online: {{!node.offline}})
                    </option>
                </select>
                <small id="nodeSelectionHelp" class="form-text text-muted">the node that is used by this pilot.</small>
            </div>


            <button (click)="save()" class="btn btn-outline-secondary mr-1">save</button>
            <button (click)="delete()" class="btn btn-outline-danger">delete</button>
        </form>
    </div>
</div>