[Unit]
Description=fpvlaptracker
After=multi-user.target

[Service]
WorkingDirectory=/home/pi
ExecStart=/home/pi/fpvlaptracker/fpvlaptracker-0.0.0.jar

[Install]
WantedBy=multi-user.target

