<h1>participants</h1>
<script type="text/ng-template" id="dataFailure">
    <div>
    <h2>data failure</h2>
    {{ngDialogData.message}}
    </div>
</script>
<div>
    <div ng-hide="participants.length > 0">no participants</div>
    <ul>
        <li style="padding-bottom: 10px;" ng-repeat="x in participants">
            {{ x.name}} 
            <button class="btn btn-default" ng-disabled="!authenticated" ng-show="!x.alreadyAdded" ng-click="clickAdd(x.chipId);">add to race</button> 
            <button class="btn btn-default" ng-disabled="!authenticated" ng-show="x.alreadyAdded" ng-click="clickRemove(x.chipId);">remove from race</button> 
            <button class="btn btn-default" ng-show="x.allowConfiguration || x.allowConfigureName" ng-disabled="!authenticated" ng-click="openSetup(x.chipId);">setup</button>
            <button class="btn btn-default" ng-show="x.allowDeviceData" ng-disabled="!authenticated" ng-click="openDeviceData(x.chipId);">device data</button>
        </li>
    </ul>

</div>